* -text

*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.m4 linguist-vendored
*.sh linguist-vendored
configure.ac linguist-vendored
makefile linguist-vendored
Makefile.am linguist-vendored
msbuild/* linguist-vendored
xcode/* linguist-vendored
