# MSBuild

*.user
[Dd]ebug/
[Rr]elease/

# Xcode

xcuserdata/

# Misc

build/
dist/
obj/

# https://www.gnu.org/software/automake

Makefile.in
/ar-lib
/test-driver

# https://www.gnu.org/software/autoconf

autom4te.cache/
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing

/src/config/*
!/src/config/.empty

# https://www.gnu.org/software/libtool/

/ltmain.sh

# https://www.gnu.org/software/m4/

m4/

# Generated Makefiles. Do not ignore the Emscripten app Makefile.

/Makefile
/src/**/Makefile

# Custom directory for Docker-based Emscripten SDK.

emscripten_cache/
