* -text

*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.sh linguist-vendored

configure.ac linguist-vendored
Makefile.am linguist-vendored

content/** linguist-vendored
emscripten/** linguist-vendored
msbuild/** linguist-vendored
vendor/** linguist-vendored
web/** linguist-vendored
xcode/** linguist-vendored
